{% extends "base_site.html" %}


{% block content %}
        <div id="dyn_id24" class="subcolumns">
			<h2>Policy</h2>
			<p>
			TAPAS contains header information of all astronomical data taken after 01/01/2009. TAPAS does not contain any astronomical heterodyne or bolometer data. However, TAPAS provides the possibility to link the header data of individual scans to FITS files containing the uncalibrated astronomical data. TAPAS provides a <a href="http://www.ivoa.net">Virtual Observatory</a> facility for query and retrieval of header data.
			</p>
			<p>
			Access rights to any astronomical data in TAPAS depend on the project. The PI and IRAM decide when to make astronomical data public. For all projects, after a proprietary period of one year, a subset of header data will be made accessible via web interfaces and search tools. IRAM staff have immediate and unrestricted access to all header data. For large programs, access to all data will be granted after a 18 months proprietary period. The proprietary period starts when the last observations of a given project are finished. </p>
			<p></p>
        </div>
{% endblock %}
